<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="common-header">
		<meta charset="ISO-8859-1">

	 	<!-- Bootstrap CSS -->
     	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	
		<title>Freight Management</title>
	
	</head>
	<body>
        <div th:fragment="header">
            <div class="container">
                <div class="well well-lg">
                    <h1>Welcome to Freight Management</h1>
                </div>
            </div>
        </div>

	</body>
</html>